{% extends 'global/pages/base.html' %}
{% block title %}<title>Webmanager | Apagar {{customer.name}}</title>{% endblock title %}
{% block content %}
  <h2 class="text-center mt-5">Deseja apagar o cliente?</h2>
  <p class="text-center">Tem certeza que deseja apagar "{{ customer.name }}"?</p>

  <form class="text-center" method="post">
    {% csrf_token %}
    <input type="submit" value="Apagar" class="btn btn-danger">
    <a href="{% url 'index:customer_detail' customer.id %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock %}