{% extends 'global/pages/base.html' %}
{% block title %}<title>Webmanager | {{customer.name}}</title>{% endblock title %}
  <body>
    {% block content %}
    <h1 class="text-center mt-5">{{customer.name}}</h1>
    <ul class="list-group mt-4">
      <li class="list-group-item">
        <b>Endereço:</b>
        {{customer.address}} {{customer.number}}
      </li>
      <li class="list-group-item">
        <b>Bairro:</b>
        {{customer.district}}
      </li>
      <li class="list-group-item">
        <b>Cidade:</b>
        {{customer.city}}
      </li>
      <li class="list-group-item">
        <b>Estado:</b>
        {{customer.state}}
      </li>
      <li class="list-group-item">
        <b>CEP:</b>
        {{customer.zip_code}}
      </li>
      <li class="list-group-item">
        <b>Telefone:</b>
        {{customer.phone}}
      </li>
      <li class="list-group-item">
        <b>Email:</b>
        {{customer.email}}
      </li>
      {% if customer.cpf %}
      <li class="list-group-item">
        <b>CPF:</b>
        {{customer.cpf}}
      </li>
      {% endif %}
      {% if customer.cnpj %}
      <li class="list-group-item">
        <b>CNPJ:</b>
        {{customer.cnpj}}
      </li>
      {% endif %}
    </ul>
    <a
      class="btn btn-primary mt-3"
      href="{% url 'index:customer_update' customer.id %}"
    >
      Editar
    </a>
    <a class="btn btn-secondary mt-3" href="{% url 'index:customers' %}">
      Voltar
    </a>
    {% endblock content %}
  </body>
</html>
