{% extends 'global/pages/base.html' %} 
{% load static %}
<body>
  {% block content %}
  <h1 class="text-center mt-5">Clientes</h1>
  <a class="btn btn-primary mt-5" href="{% url 'index:customer_create' %}">
    Adicionar Cliente
  </a>
  {% for customer in object_list %}
  <ul class="list-group mt-4 mb-2">
    <li class="list-group-item bg-body-secondary">
      <b>Nome:</b>
      <a href="{% url 'index:customer_detail' customer.id %}">
        {{ customer.name }}
      </a>
      <br />
      <b>Telefone:</b>
      {{ customer.phone }}
      <br />
      <b>Email:</b>
      {{ customer.email }}
      <br />
      <b>Cadastro em:</b>
      {{ customer.registration_date }}
      <br />
      <a class="text-decoration-none" href="{% url 'index:customer_update' customer.id %}">
        <img
          src="{% static 'global/img/pencil-fill.svg' %}"
          alt="pencil"
          style="margin-right: .8rem;"
        />
      </a>
      <a class="text-decoration-none"  href="{% url 'index:customer_delete' customer.id %}">
        <img src="{% static 'global/img/trash-fill.svg' %}" alt="trash"/>
      </a>
    </li>
  </ul>
  {% empty %}
  <li class="list-group-item">Nenhum Cliente Cadastrado</li>
  {% endfor %} {% endblock content %}
</body>
