{% extends 'global/pages/base.html' %}
{% load static %}
{% block title %}<title>Webmanager | {{product.description}}</title>{% endblock title %}
  <body>
    {% block content %}
    <h1 class="text-center mt-5">{{product.description}}</h1>
    <ul class="list-group mt-4">
      <img class="mt-3 mb-3 m-auto" src="{{product.photo.url}}" alt="product" style="width: 800px; height: 640px;">
      {% if product.sector %}
      <li class="list-group-item">
        <b>Setor:</b>
        {{product.sector}}
      </li>
      {% endif %}
      {% if product.unit %}
      <li class="list-group-item">
        <b>Unidade:</b>
        {{product.unit}}
      </li>
      {% endif %}
      <li class="list-group-item">
        <b>Fornecedor:</b>
        {{product.supplier}}
      </li>
      <li class="list-group-item">
        <b>Fabricante:</b>
        {{product.manufacturer}}
      </li>
      <li class="list-group-item">
        <b>Custo:</b>
        R$ {{product.cost}}
      </li>
      <li class="list-group-item">
        <b>Margem:</b>
        {{product.profit_margin}}%
      </li>
      <li class="list-group-item">
        <b>Preço de Venda:</b>
        R$ {{product.sell_value}}
      </li>

      <li class="list-group-item">
        <b>Estoque:</b>
        {{product.stock}}
      </li>
    </ul>
    <a
      class="btn btn-primary mt-3 mb-3"
      href="{% url 'index:product_update' product.id %}"
    >
      Editar
    </a>
    <a class="btn btn-secondary mt-3 mb-3" href="{% url 'index:products' %}">
      Voltar
    </a>
    {% endblock content %}
  </body>
</html>
