{% extends 'global/pages/base.html' %}
{% block title %}<title>Webmanager | Apagar {{supplier.company}}</title>{% endblock title %}
{% block content %}
  <h2 class="text-center mt-5">Deseja apagar o fornecedor?</h2>
  <p class="text-center">Tem certeza que deseja apagar "{{ supplier.company }}"?</p>

  <form class="text-center" method="post">
    {% csrf_token %}
    <input type="submit" value="Apagar" class="btn btn-danger">
    <a href="{% url 'index:supplier_detail' supplier.id %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock %}