{% extends 'global/pages/base.html' %}
{% block title %}<title>Webmanager | {{supplier.company}}</title>{% endblock title %}
  <body>
    {% block content %}
    <h1 class="text-center mt-3">{{supplier.company}}</h1>
    <ul class="list-group mt-4 shadow-sm">
      <li class="list-group-item">
        <b>Endereço:</b>
        {{supplier.address}} {{supplier.number}}
      </li>
      <li class="list-group-item">
        <b>Bairro:</b>
        {{supplier.district}}
      </li>
      <li class="list-group-item">
        <b>Cidade:</b>
        {{supplier.city}}
      </li>
      <li class="list-group-item">
        <b>Estado:</b>
        {{supplier.state}}
      </li>
      <li class="list-group-item">
        <b>CEP:</b>
        {{supplier.zip_code}}
      </li>
      <li class="list-group-item">
        <b>Telefone:</b>
        {{supplier.phone}}
      </li>
      <li class="list-group-item">
        <b>Email:</b>
        {{supplier.email}}
      <li class="list-group-item">
        <b>CNPJ:</b>
        {{supplier.cnpj}}
      </li>
    </ul>
    <a
      class="btn btn-primary mt-3"
      href="{% url 'index:supplier_update' supplier.id %}"
    >
      Editar
    </a>
    <a class="btn btn-secondary mt-3" href="{% url 'index:suppliers' %}">
      Voltar
    </a>
    {% endblock content %}
  </body>
</html>
